* {
    padding: 1%;
    color: white;
    font-family: monospace;
    text-align: right;
}
a {
    color: black;
}
.preto {
    color: black;
    text-align: left;
}
.um {
    background-image: linear-gradient(to right, #188FFF, #6D00F6);
}
.dois {
    background-image: linear-gradient(to right, #F5F5F5 , #BA4DE3, #8A05BE, #530082, #191919);
}
.tres {
    background-image: linear-gradient(to right, #00b9b3, #6b48ff);
}
.quatro {
    background-image: linear-gradient(to right, #DB961E, #9068FB, #3800E7)
}
.cinco {
    background-image: linear-gradient(to right, #42275A, #734B6D)
}
.seis {
    background-image: linear-gradient(to right, #614385, #516395);
}
.sete {
    background-image: linear-gradient(to right, #155799, #159957);
}
